body{background: lightgray;}

table{border: 5px solid #000;}
table td{border: 1px dashed #fff;}
tbody tr:hover{background: #fcb2d1;}

#modal{
    display: none; width: 70vw; height: 80vh;
    background: #66b1f7; 
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    z-index: 1000;
}

#modal.active{display: grid;}

#modal > div:first-child{
    display: grid;
    grid-template-columns: 50px 1fr 150px;
    grid-template-rows: 1fr;
    place-items: center center;
}

#overlay{
    background: rgba(0, 0, 255, 0.5);
    position: fixed; display: none;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    z-index: 999;
}
#overlay.active{display: block;}